*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: grid;
  place-content: center;
}

.flex-container{
  border: 2px solid;
  padding: 10px;
}

.flex-container .element{
  padding: 50px;
  border: 2px solid;
}

.flex-container .element:nth-child(even){
  background-color: rgb(64, 170, 64);
}

.flex-container .element:nth-child(odd){
  background-color: rgb(1, 176, 230);
}

/*Utility clases para que jueguen*/
.d-flex{
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-container{
  display: flex;/*Habilita flex*/
  flex-wrap: wrap;/*Habilita que los items cambien de linea*/
  flex-direction: row;/*Da la dirección del flex*/
  /*Shortcout: flex-direction flex-wrap*/
  /* flex-flow: row-reverse wrap-reverse; */
  align-items: center;/*Alinea los elementos en el cross axis*/
  align-content: center;/*Lo mismo de la anterior pero cuando tiene wrap*/
  justify-content: space-between;/*Alinea los elementos en el main axis*/
  
  row-gap: 10px;/*Espacio entre elementos en la fila*/
  column-gap: 3px; /*Lo mismo pero para columnas*/
}

.flex-container .element:nth-child(1){
  order: 1;
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-container .element:nth-child(2){
  order: 2;
  flex-grow: 3;
}

.flex-container .element:nth-child(3){
  order: 3;
}

.flex-container .element:nth-child(4){
  order: 4;
}

.flex-container .element:nth-child(5){
  order: 5;
}

/* @media (width <= 720px){
  .flex-container .element:nth-child(5){
    order: 1;
  }
} */


.prueba{
  color: black;
  height: 100px;
  background: white;
}