*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  display: grid;
  place-content: center;
}

.flex-container{
  border: 2px solid;
  padding: 10px;
}

.flex-container .element{
  padding: 50px;
  border: 2px solid;
}

.flex-container .element:nth-child(even){
  background-color: rgb(64, 170, 64);
}

.flex-container .element:nth-child(odd){
  background-color: rgb(1, 176, 230);
}

/*Utility clases para que jueguen*/
.d-flex{
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}